.wrap{
	display: flex;
	flex-wrap: wrap;
}
.common{
	width: 200px;
	min-height: 200px;
	max-height: 200px;
	margin: 4px;
	display: flex;
}
.item{
	@extend .common;
	flex-direction: column;
	overflow: hidden;
}
.create{
	@extend .common;
	justify-content: center;
}
.name{
	font-size: 12px;
}
.value{
	font-size: 12px;
	text-overflow: ellipsis; 
    white-space: pre-wrap;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.close{
	position: absolute;
	top: 0;
	right: 10px;
	&:hover{
		color: red;
	}
}