.title{
	padding: 10px 10px;
	border-bottom: 1px solid #e6e6e6;
}
.item{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.name{
	margin-right: 10px;
}
.filter{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
	&:hover{
		background: #e6e6e6;
	}
	.icon{
		margin-right: 4px;
	}
}
.startCondition{
	margin: 10px 0 0 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
