.wrap{
	min-height: 100vh;
	padding-bottom: 100px;
	background-image:url(https://img.alicdn.com/tfs/TB1OpAhC7zoK1RjSZFlXXai4VXa-1350-900.jpg);
  	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.input{
	width: 300px;
}
.btnWrap{
	text-align: center;
}
.btn{
	width: 120px;
}
.field{
	position: relative;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.error{
	position: absolute;
	left: 210px;
	width: 200px;
	color: #ee7893;
	font-size: 10px;
}