.wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.item{
	position: relative;
	width: 200px;
	min-height: 200px;
	max-height: 200px;
	margin: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.close{
	position: absolute;
	top: 0;
	right: 10px;
	&:hover{
		color: red;
	}
}
.name{
	font-size: 14px;
	font-weight: bold;
	text-overflow: ellipsis; 
    white-space: pre-wrap;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}