.wrap{
	margin: 10px;
}
.title{
	font-size: 20px;
	font-weight: bold;
}
.user:hover{
	text-decoration:underline;
	color: blue;
}
.lastTitle{
	display: flex;
	flex-direction: row;
	align-items: center;
	.icon{
		margin-right: 2px;
	}
}
.pagination {
  	margin-top: 10px;
  	text-align: right;
};
