.btnWrap{
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.variableWrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.variable{
 	margin: 4px;
 	padding: 4px 6px;
 	background: gray;
 	border-radius: 4px;
 	color: #fff;
 	&:hover{
 		cursor:pointer;
 		background: red;
 	}
}
.pagination {
  	margin-top: 10px;
  	text-align: right;
};
