.wrap{
	margin: 10px;
}
.title{
	font-size: 20px;
	font-weight: bold;
}
.pagination {
  	margin-top: 10px;
  	text-align: right;
};
.user:hover{
	text-decoration:underline;
	color: blue;
}