.wrap{
	padding: 20px;
	.tab{
		width: 80px;
		height: 32px;
		font-size: 20px;
		border-radius: 100px;
	}
	.first,.second{
		margin-top: 20px;
	}
	.content{
		width: 100%;
		display: flex;
		.item1{
			flex: 1;
			.title{
				width: 100px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: bold;
			}
		}
	}
}