.wrap{
	margin: 20px;
	display: flex;
	flex-direction: column;
	.item{
		display: flex;
		flex-direction: row;
		line-height: 40px;
		.name{
			min-width: 200px;
		}
		.value{
			margin-left: 20px;
			font-weight: bold;
		}
	}
}