.wrap{
	padding: 20px;
	.title{
		margin-bottom: 20px;
	}
	.content{
		.title{
			margin-bottom: 20px;
			font-size: 24px;
			font-weight: bold;
		}
		.input{
			margin-bottom: 20px;
		}
	}
}