.userShareItem{
	flex: 1;
	margin-right: 10px;
	border-radius: 10px;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.userShareItemChart{
	flex: 1;
	display: flex;
	justify-content: center;
}
.column{
	font-size: 10px;
}
.openId{
	text-overflow: ellipsis; 
    white-space: pre-wrap;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}