.event{
	flex: 1;
	margin-top: 10px;
	border: 1px solid #e6e6e6;
}
.details{
	height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	align-items: center;
}
.start{
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.device{
	padding: 10px;
}
.item{
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	align-items: center;
}
.name{
	width: 100px;
}
.value{
	font-weight: bold;
}
