.tagWrap{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.tag{
	float:left;
	min-width: 60px;
	padding: 14px 20px;
	background: #722ED1;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.pagination {
  	margin-top: 10px;
  	text-align: right;
};
.close{
	position: absolute;
	top: 0;
	right: 4px;
	color: #fff;
	&:hover{
		color: red;
	}
}