.wrap{
	margin: 10px;
	display: flex;
}
.leftContent{
	flex: 1;
	min-height: 500px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.rightContent{
	width: 240px;
	height: 500px;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.btnWrap{
	margin: 10px; 
	display: flex;
	justify-content: space-between;
}

