.container{
	margin-bottom: 10px;
	padding: 10px 10px;
}
.item{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.name{
	margin-right: 10px;
	font-weight: bold;
}
.select{
	width: 200px;
	margin-right: 10px;
}
.filter{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
	&:hover{
		background: #e6e6e6;
	}
	.icon{
		margin-right: 4px;
	}
}
.filterCondition{
	margin: 10px 0 0 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.pagination {
  	margin-top: 10px;
  	text-align: right;
};
.title{
	width: 80px;
	border:1px solid #e6e6e6;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btnWrap{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	.btn{
		margin-right: 10px;
	}
}
