.wrap{
	min-height: 100vh;
	padding-bottom: 100px;
	background-image:url(https://img.alicdn.com/tfs/TB1OpAhC7zoK1RjSZFlXXai4VXa-1350-900.jpg);
  	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.input{
	width: 300px;
}
.btnWrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn{
	width: 120px;
	margin-bottom: 10px;
}
