.container{
	margin-bottom: 10px;
	padding: 10px 10px;
}
.item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.ice-field{
	width: auto;
}
.name{
	margin-right: 10px;
	font-weight: bold;
}
.select{
	width: 120px;
	margin-right: 10px;
}
.filter{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	margin-left: 10px;
	.icon{
		margin-right: 4px;
	}
}
.filterCondition{
	margin: 10px 0 0 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.title{
	font-size: 16px;
	font-weight: bold;
}
.btnWrap{
	display: flex;
	flex-direction: row;
	.btn{
		margin-right: 10px;
	}
}
.combination{
	margin: 10px 0;
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.step{
	margin: 10px;
	padding: 10px;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
}