.container{
	margin-bottom: 10px;
	padding: 10px 10px;
}
.item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.name{
	margin-right: 10px;
	font-weight: bold;
}
.select{
	width: 120px;
	margin-right: 10px;
}

.combination{
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.step{
	margin: 10px;
	padding: 10px;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
}