.title{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
.input{
	width: 400px;
}
.count{
	padding: 2px 10px;
	margin-left: 4px;
	background: #1ABDE6;
	border-radius: 10px;
	color: #fff;
}