.wrap{
	padding: 20px;
	.TabWrap{
		display: flex;
		flex-direction: row;
		align-items: center;
		$height: 41px;
		.name{
			min-width: 100px;
			height: $height;
			margin-right: 10px;
			border: 1px solid #e6e6e6;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;	
		}
	}
	.graphWrap{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		.graph{
			flex: 1;
			margin: 0 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.name{
				min-width: 200px;
				height: 40px;
				font-weight: bold;	
			}
		}
	}
	
}